{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Snowtricks !{% endblock %}

{% block body %}
    <div id="cover-page" style="background-image: url('{{ asset('images/cover_image.jpg') }}');">
        <div class="px-3" id="cover-welcome-message">
            <p class="lead">Bienvenue sur Snowtricks. Découvre les figures de snowboard et rejoins une communauté de passionnés.</p>
            <p class="lead">
                <a href="#tricks-list" class="btn btn-lg btn-light fw-bold border-white bg-white">Voir les derniers tricks</a>
            </p>
        </div>
    </div>

    <div class="posts-section container mt-5">
        {{ include('trick/_tricks_list.html.twig', { 'tricks': tricks }) }}
        <div class="d-flex justify-content-center">
            <a type="button" id="show-more" class="btn btn-secondary mt-3" data-page="2" href="{{ path('app_trick_index') }}">Tous les tricks</a>
        </div>
    </div>
{% endblock %}
