<footer class="footer-section py-3 text-center border border-top border-1 border-secondary-subtle">
    <a href="#" class="mx-2"><i class="text-secondary bi bi-twitter" style="font-size: 2rem;"></i></a>
    <a href="#" class="mx-2"><i class="text-secondary bi bi-facebook" style="font-size: 2rem;"></i></a>
    <a href="#" class="mx-2"><i class="text-secondary bi bi-instagram" style="font-size: 2rem;"></i></a>
</footer>
