<footer class="mt-auto mx-auto footer-section py-3">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-dark">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-dark">@mdo</a>.</p>
</footer>