{% extends 'base.html.twig' %}

{% block title %}E-mail de Réinitialisation du Mot de Passe Envoyé{% endblock %}

{% block body %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="text-center" style="max-width: 500px;">
            <p>
                Si un compte correspondant à votre adresse e-mail existe, un e-mail a été envoyé contenant un lien pour réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayez ici</a>.</p>
        </div>
    </div>
{% endblock %}
