<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de votre mot de passe</title>
    <link rel="stylesheet" href="{{ asset('styles/email_styles/mail.css') }}">
</head>
<body>
<div class="email-container">
    <div class="header">
        <h1>Bonjour !</h1>
    </div>

    <p>
        Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :
    </p>

    <p style="text-align: center;">
        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="btn-confirm">Réinitialiser mon mot de passe</a>
    </p>

    <p style="text-align: center; font-size: 14px; color: #666;">
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>

    <div class="footer">
        <p>À bientôt !</p>
    </div>
</div>
</body>
</html>
