<div class="mb-5">
    <h3>Messages</h3>
    {% if messages is empty %}
        <p>Aucun message. Soyez le premier à commenter ce trick !</p>
    {% else %}
        <ul class="list-unstyled">
            {% for message in messages %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-3 col-md-2 d-flex justify-content-center align-items-center">
                            {% if message.author.profilePicture is empty %}
                                {% set profile_picture = asset('uploads/profile_pictures/profile_picture_placeholder.png') %}
                            {% else %}
                                {% set profile_picture = asset('uploads/profile_pictures/' ~ message.author.profilePicture) %}
                            {% endif %}
                            <img src="{{ profile_picture }}" alt="Image de profil" class="img-fluid rounded-circle"
                                 style="max-width: 80px; height: auto;">
                        </div>
                        <div class="col-9 col-md-10">
                            <div class="card-body">
                                <h5 class="card-title mb-0">{{ message.author.username }}</h5>
                                <small class="text-muted">{{ message.createdAt|date('F j, Y, g:i a') }}</small>
                                <p class="card-text mt-2">{{ message.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
</div>