.posts-section {
    padding: 50px 15px;
    color: #333;
}

.carousel-media {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Here carousel styling in trick show */
.carousel-item iframe {
    max-width: 100%;
    max-height: 100%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    font-size: 3.55rem;
}

/* Here is styling for various images and thumbnails inside trick forms */
.img-thumbnail {
    display: block;
    width: 100%; /* Ensures it scales well inside the container */
    border-radius: 8px;
}

.trick-illustration-delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trick-illustration-delete-icon:hover {
    background-color: red;
}