<!doctype html>
<html lang="fr" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}Snowtricks{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">
{% include 'partials/_navbar.html.twig' %}
<main class="content-container flex-grow-1" id="main-cover">
    {% if app.session.flashbag.peekAll()|length > 0 %}
        <div class="container my-3" id="flash-messages-container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</main>
{% include 'partials/_footer.html.twig' %}
</body>
</html>
