{% extends 'base.html.twig' %}

{% block title %}Modifier un Trick{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="d-flex justify-content-between">
                <h1>Modifier un Trick</h1>
                {% if trick is defined %}
                    <form action="{{ path('app_trick_delete', { id: trick.id }) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce Trick ?')">
                            Supprimer
                        </button>
                    </form>
                {% endif %}
            </div>
            {% include 'trick/_form.html.twig' %}
        </div>
    </div>
{% endblock %}