{% extends 'base.html.twig' %}
{% block title %}Liste des tricks{% endblock %}
{% block body %}
    <div id="tricks-list" class="posts-section container mt-5">
        {{ include('trick/_tricks_list.html.twig', { 'tricks': tricks }) }}
        <div class="d-flex justify-content-center">
            <button id="show-more" class="btn btn-secondary mt-3" data-page="2">Show More</button>
        </div>
    </div>
{% endblock %}