{% extends 'base.html.twig' %}
{% block title %}Liste des tricks{% endblock %}
{% block body %}
    <div id="tricks-list" class="posts-section container mt-5">
        {{ include('trick/_tricks_list.html.twig', { 'tricks': tricks }) }}
    </div>
    // here add pagination buttons (bootstrap)
{% endblock %}