{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Trick{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row"><h1>Nouveau Trick</h1>
            {% include 'trick/_form.html.twig' %}</div>
    </div>
{% endblock %}